table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th,
  td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
  }
  
  .dead-day {
    background-color: lightgray;
    text-decoration: line-through;
  }
  